<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chattingback.Resource.mapper.GroupMessage">

    <select id="selectLastPageGroupMessages" resultType="com.example.chattingback.eneity.dbEntities.GroupMessage">
        select * from group_message WHERE groupId = #{groupId} ORDER BY TIME desc LIMIT #{current},#{size};
    </select>
</mapper>